<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/home.css">
    <title>TODOアプリ</title>
</head>

<body>
    <div class="container">

        <div class="header-row">
            <h1>TODOアプリ</h1>
            <a href="/done/list" class="done-link">完了したタスク</a>
        </div>

        <form action="/task" method="get" class="form-row">
            <input name="task" type="text" placeholder="タスクを入力しよう！！">
            <input type="submit" value="追加">
        </form>
        <table>
            <thead>
                <tr>
                    <th class="id-cell">ID</th>
                    <th>タスク</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                {{ if not .IsDone }}
                <tr>
                    <td class="id-cell">{{ .ID }}</td>
                    <td>{{ .Task }}</td>
                    <td class="done-button">
                        <a>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="20 6 9 17 4 12"></polyline>
                            </svg>
                        </a>
                    </td>
                </tr>
                {{ end }}
                {{ end }}
            </tbody>
        </table>
    </div>
</body>

</html>

<script>
    // 完了ボタン
    document.querySelectorAll('.done-button').forEach(btn => {
        btn.addEventListener('click', function () {
            const tr = this.closest('tr');
            const taskId = tr.querySelector('.id-cell').textContent.trim();
            console.log('完了するID:', taskId);

            window.location.href = `/task/done?id=${taskId}`
        });
    });
</script>