<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/home.css">
    <title>TODOアプリ</title>
</head>
<body>
    <div class="container">
        <h1>TODOアプリ</h1>
        <form action="/task" method="get" class="form-row">
            <input name="task" type="text" placeholder="タスクを入力しよう！！">
            <input type="submit" value="追加">
        </form>
        <table>
            <thead>
                <tr>
                    <th class="id-cell">ID</th>
                    <th>タスク</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{ range . }}
                <tr>
                    <td class="id-cell">{{ .ID }}</td>
                    <td>{{ .Task }}</td>
                    <td class="delete-button">
                        <a>削除</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
</html>

<script>
    document.querySelectorAll('.delete-button').forEach(btn => {
        btn.addEventListener('click', function() {
            const tr = this.closest('tr');
            const taskId = tr.querySelector('.id-cell').textContent.trim();
            console.log('削除するID:', taskId);

            window.location.href = `/task/delete?id=${taskId}`
        });
    });
</script>